<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
        <h2>Curriculum</h2>
        <div class="fila">
            <div class="col izquierda">
                <h3>Educación</h3>
                <div class="item izq">
                    <h4>Desarrollo de Software</h4>
                    <span class="casa">Corporacion Unificada de Edcuacion Superior CUN</span>
                    <span class="fecha">2017 - 2024</span>
                    <p>Carrera profesional ya finalizada, solo me falta validar expreiencia laboral para el titulo profesional, enfocada en toda el area de programacion y desarrollo junto con base de datos,
                    logica de programacion y redes.
                    </p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Mision TIC 2022</h4>
                    <span class="casa">Universidad Sergio Arboleda</span>
                    <span class="fecha">2021 - 2022</span>
                    <p>Curso intensivo de 800 horas de mintic en la cual se vieron temas basicos de programacion en python y desarrollo principalmente backend en Java en SpringBoot framework junto con 
                        un poco de desarrollo movil en Android Studio</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Diplomado Machine Learning</h4>
                    <span class="casa">Corporacion Unificada de Edcuacion Superior CUN</span>
                    <span class="fecha">2023</span>
                    <p>Diplomado de machine learning enfocado al analisis de datos</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
            </div>

            <div class="col derecha">
                <h3>Experiencia de trabajo</h3>
                <div class="item der">
                    <h4>practicante Redes</h4>
                    <span class="casa">S3</span>
                    <span class="fecha">2019-2020</span>
                    <p>Practicas en las que me enfoque mas en el area de redes donde aprendi mucho igualmente de seguridad en la red, tipos de ataques y configuracion de redes en general
                    </p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der">
                    <h4>practicante Desarrollador</h4>
                    <span class="casa">TOP GROUP</span>
                    <span class="fecha">2022-2023</span>
                    <p>Practicas en las que realice un programa desde 0 el cual debia extraer la metada de bases de datos y autogenerar CRUDS con base en estas, utilizando lenguaje Java - SpringBoot
                    en el bakcend y React en el Frontend
                    </p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
