<section id="contacto" class="contacto">
    <div class="contenido-seccion">
        <h2>CONTACTO</h2>
        <div class="fila">
            <!-- Formulario -->
            <div class="col">
                <div class="item">
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email:</span>
                    <span>jcamil-2010&#64;hotmail.com</span>
                    <a href="mailto:jcamil-2010@hotmail.com">
                    <button>
                        Enviame un correo! <i class="fa-solid fa-paper-plane"></i>
                        <span class="overlay"></span>
                    </button></a>
                </div>
                <div class="item">
                    <i class="fa-brands fa-whatsapp"></i>
                    <span>Whatsapp:</span>
                    <span>3185683733</span>
                    <a href="https://wa.me/573185683733" target="_blank"><button>
                        Enviame un mensaje! <i class="fa-solid fa-message"></i>
                        <span class="overlay"></span>
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</section>
