<section id="sobremi" class="sobremi">
    <div class="contenido-seccion">
        <h2>Sobre Mí</h2>
        <p><span>Hola, soy Juan Camilo Velasco</span> Desarrollador, tecnólogo en desarrollo de software con alta capadicad de aprendizaje, proactivo y apasionado por la programacion y el desarrollo 
        en distintas tecnologias, me gustan los retos y solucionar problemas ya que en la solución de estos encuentro un gran aprendizaje y crecimiento en mis habilidades como desarrollador
        </p>

        <div class="fila">
            <!-- datos personales -->
            <div class="col">
                <h3>Datos Personales</h3>
                <ul>
                    <li>
                        <strong>Cumpleaños</strong>
                        11-02-2000
                    </li>
                    <li>
                        <strong>Teléfono</strong>
                        3185683733
                    </li>
                    <li>
                        <strong>Email</strong>
                        jcamil-2010&#64;hotmail.com
                    </li>
                </ul>
            </div>

            <!-- intereses -->
            <div class="col">
                <h3>Intereses</h3>
                <div class="contenedor-intereses">
                    <div class="interes">
                        <i class="fa-solid fa-gamepad"></i>
                        <span>JUEGOS</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-headphones"></i>
                        <span>MUSICA</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span>DEPORTE</span>
                    </div>
                    <div class="interes">
                        <i class="fa-solid fa-book"></i>
                        <span>ESTUDIO</span>
                    </div>   
                </div>
            </div>
        </div>
        <a href="../../../../assets/CV-Juan-Camilo-VelascoVelandia.pdf" target="_blank" download="Hoja de vida Juan Camilo Velasco V">
        <button>
            Descargar CV <i class="fa-solid fa-download"></i>
            <span class="overlay"></span>
        </button>
        </a>
    </div>
</section>
