<footer>
    <a href="#inicio" class="arriba">
        <i class="fa-solid fa-angles-up"></i>
    </a>
    <div class="redes">
        <a href="https://www.linkedin.com/in/juan-camilo-velasco-velandia-45a169221/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://candidato.co.computrabajo.com/candidate/cv/edit?tlo=96D1C1E18881EABE" target="_blank"><i class="fa-solid fa-rss"></i></a>
        <a href="https://github.com/JuanCamiloVelasco?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>