<section id="proyectos" class="portfolio">
    <div class="contenido-seccion">
        <h2>Proyectos Principales</h2>
        <div class="fila">
            <div class="item">
                <img src="../../../../assets/captura proyecto node-angular-gianca.png" alt="">
                <p class="descripcion">
                    Proyecto de CRUD de eventos, filtros por tipo y fecha, control de excepciones desde frontend y backend, notificaciones con toastr
                    <p><span class="tecnologias">Angular - NodeJs - MongoDb - TypeScript</span></p>
                <a href="https://github.com/JuanCamiloVelasco/prueba-node-angular-mejorado" target="_blank">
                    <button class="btn" onclick="">Github</button>
                </a>
                <a href="https://prueba-node-angular-gianca.onrender.com/" target="_blank">
                    <button class="btn btn2">Ver demo</button>
                </a>
            </div>
            <div class="item">
                <img src="../../../../assets/proyecto comidaya!.png" alt="">
                <p class="descripcion">
                    Proyecto de comidas donde se puede buscar por nombre y tag de las comidas, agregarlas en la cantidad deseada al carrito y realizar la orden con ubicacion "automatica" en el
                    mapa usando LeafLet, implementando pagos y seguimiento de la orden, creacion de usuarios, encriptado de las contraseñas utilizando Bcrypt y generacion de JWT 
                    <p><span class="tecnologias">Angular - NodeJs - MongoDb - TypeScript - LeafLet</span></p>
                <a href="https://github.com/JuanCamiloVelasco/Node-Angular" target="_blank">
                    <button class="btn" onclick="">Github</button>
                </a>
            </div>
            <div class="item">
                <img src="../../../../assets/Proyecto generador codigo.png" alt="">
                <p class="descripcion">
                    Proyecto generador de codigo que realice desde 0 en mi trabajo anterior, consiste en registrar y conectarse a BD oracle, PostgreSQL o MySQL, mostrar las tablas que hay en estas y
                    auto generar un CRUD en 6.java por cada tabla seleccionada con su respectiva relacion segun sea el caso.
                    <p><span class="tecnologias">React - JS - Java - SpringBoot - MySQL</span> </p>
                <a href="https://github.com/JuanCamiloVelasco/Generador-Spring" target="_blank">
                    <button class="btn" onclick="">Github</button>
                </a>
            </div>
        </div>
    </div>
</section>  